.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body,
html {
    height: 100%;
    margin: 0;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.carousel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0); */
    z-index: -1;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-rotateOnce {
    animation: rotateOnce 1s ease-in-out;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.animate-flip {
    animation: flip 1s ease-in-out;
}

@keyframes bounceUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    60% {
        transform: translateY(-10%);
        opacity: 1;
    }

    80% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-bounceUp {
    animation: bounceUp 0.6s ease-out;
}

.g-4 {
    --bs-gutter-x: -20rem;
}
