.center {
display: block;
margin-left: auto;
margin-right: auto;
}

body,
html {
height: 100%;
margin: 0;

}

.container {
  transform: scale(0.8);
  transform-origin: top center;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
height: 100vh;
width: 100vw;
object-fit: cover;

}

.carousel-item video {
  object-fit: cover;
  object-position: center 50%;
  height: 100vh;
  width: 100vw;
}

.carousel {
position: fixed;
top: 100;
left: 0;
z-index: -2;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
/* background: rgba(0, 0, 0, 0); */
z-index: -1;
}



  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay-image {
    position: absolute;
    width: 100px; /* atur ukuran ikon di sudut */
    height: 100px;
  }

  .top-left {
    top: 10px;
    left: 10px;
  }

  .top-right {
    top: 10px;
    right: 10px;
  }

  .bottom-left {
    bottom: 10px;
    left: 10px;
  }

  .bottom-right {
    bottom: 10px;
    right: 10px;
  }

    .middle-left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .middle-right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

.avatar {
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 50%;
margin-bottom: 1rem;
border: 3px solid white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes rotateOnce {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

.animate-rotateOnce {
animation: rotateOnce 1s ease-in-out;
}

@keyframes flip {
0% {
transform: rotateY(0deg);
}

100% {
transform: rotateY(360deg);
}
}

.animate-flip {
animation: flip 1s ease-in-out;
}

@keyframes bounceUp {
0% {
transform: translateY(100%);
opacity: 0;
}

60% {
transform: translateY(-10%);
opacity: 1;
}

80% {
transform: translateY(5%);
}

100% {
transform: translateY(0);
}
}

.animate-bounceUp {
animation: bounceUp 0.6s ease-out;
}

@media (max-width: 720px) {
  /* Gaya untuk layar dengan lebar maksimum 768px */
  .element {
    width: 80%;
  }
}

/* Default posisi untuk desktop */
.modal-position {
  top: 55px;
  left: 55px;
}

.modal-transparasi {
  left: 80px;
  bottom: 170px;
}

/* Responsif untuk layar mobile */
@media (max-width: 425px) {
  .modal-position {
    
    top: 55px;
    left: 155px;
  }

  .modal-transparasi {
  
  left: 189px;
  bottom: 170px;
  }
}
